/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

body {
  margin: 0;
  min-height: 100vh;

  background-image: url("../img/backGroundPic.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1{
  color:white;
  font-size: 48px;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  margin-bottom: 20px;
}

h2{
  color : white;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  margin-left: 20px;
}



/*
===================================================
 */

/* Partie haute de la page */
header{
  text-align:center;
}

/* Bannière des liens */
#banner{
  background: rgba(0,0,0,0.4);
  padding: 15px;
  overflow : auto;
}

/* Liens */
#banner a{
  color: white;
  text-decoration: none;
  margin: 0px 20px;
  font-size: 20px;
  font-weight: bold;
}

#banner a:hover{
  text-decoration:underline; /* Sous ligne le lien lorsque la souris est dessus */
}

/* Lien vers page d'inscription*/
#banner a.loginLink {
  float : right;
  margin-right : 120px;
  color: rgb(12,255,255);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
#banner a.loginLink:hover{
  text-decoration:underline; /* Sous ligne le lien lorsque la souris est dessus */
}
/*
==========================================================
 */

/* Intro de la crèche */

#aboutUsAccueil{
  color : #2C3E50;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-left: 120px;
}