<!doctype html>

<html>
    <head>
        <Title> CCP - Accueil </Title>
        <meta charset="utf-8">
        <link rel="icon" href="/static//img/logoPanda.png"/>
        <link rel="stylesheet" href="/static//css/style.css">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>

    <body>
        <form style="display:none;">{% csrf_token %}</form>

        <!-- Entête de la page -->
        <div id="app">
            <h1>La Crèche Conviviale et Parfaite</h1>

            <header>            <!-- Bannière + liens -->
                <nav id="banner">
                    <a v-for="link in filteredLinks"
                        :href="link.url"
                        :key="link.name"
                        @click="link.action === 'logout' ? logout($event) : null"
                        :class="{ loginLink: link.isLogin }">
                        [[ link.name ]]
                    </a>
                    <a href="https://github.com/Triiiss/CrecheConvivialeParfaite" target="_blank">Git</a>
                    <a href="https://miro.com/welcomeonboard/V1hhcXp3VnczdG5lNTJJdGlwaHlpT0tVWit3TWFhZmhOVFE5Mmg1ZllQcHZSNUJvVThQWmh6WVFIZDVwWE5GY0I5YzRob296ZExlTGVib294UXFjR3RzNVJRaW52VlozZUZLc1JhNWpIakJhWldjNHd0R0FZUXRNd1FBNHNhU01nbHpza3F6REdEcmNpNEFOMmJXWXBBPT0hdjE=?share_link_id=631888282038" target="_blank">Le plan</a>
                    <a href="https://www.youtube.com/watch?v=ThJwLNaeckM" target="_blank">Équipe</a>
                    <a href="https://fr.china-embassy.gov.cn/fra/" target="_blank">Contact</a>
                </nav>
            </header>

            <h2>À propos de nous:</h2>      <!-- Introduction de la crèche -->

            <div class="aboutUs">
                <div class="aboutUsBox">
                    <p>Notre crèche accueille les enfants de moins 3 ans où chaque journée sont remplies de joies et de bonheurs,
                    ils pourront se promener, jouer, faire la sieste, s'amuser avec leurs amis, et bien plus !!!</p>

                    <p>Votre enfant sera prêt pour le grand bain qu'est la maternelle, nous leurs apprendrons de nombreuses choses,
                    comme les valeurs du partage, de l'ordre social, de la sérénité, la stabilité, et Winnie l'ourson. Ils seront
                    notés selon un système de crédit, où plus ils en ont plus ils auront accès à des avantages au sein de la crèche.
                    Toutefois, s'il venait que votre enfant soit un vilain petit enfant, il perdra des points et n'aura pas accès
                    à certains services comme la récréation avec jouets.</p>
                </div>
            </div>

            <h2>Avis des utilisateurs:</h2>

            <div class="reviews">
                <div class="review" v-for="(review, index) in paginatedReviews" :key="review.id" :class="{ right: index % 2 === 1, left: index % 2 === 0 }">
                    <img class="pfp" :src="review.pfp" alt="photo de profil" />
                    <h4>[[ review.user ]]</h4>
                    <p>[[ review.text ]]</p>
                </div>
            </div>
            <!-- Bouton pour les avis -->
            <div class="page">
                <button v-for="n in totalPages" :key="n" @click="currentReviewPage = n - 1">
                    [[ n ]]
                </button>
            </div>

        </div>

        <footer class="main-footer">
        <div class="footer-container">
            <div class="footer-column">
                <h2>Crèche Conviviale et Parfaite</h2>
                <p>Laissez vos enfant chez nous ^^.</p>
                <img src="/static/img/logo.png" alt="Logo" class="footer-logo">
            </div>

            <div class="footer-column">
                <h3>Ou nous trouver</h3>
                <p>Av. du Parc, 95000 Cergy</p>
                <p>2 Av. Adolphe Chauvin, 95300 Pontoise</p>
                <p>01 23 45 67 89</p>
                <p><a href="mailto:exemple@mail.com" class="footer-email">ccp@mail.com</a></p>
            </div>

            <div class="footer-column">
                <h3>Navigation</h3>
                <ul class="footer-links">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/information/">Information</a></li>
                    <li><a href="/connexion/">Connexion</a></li>
                    <li><a href="/inscription/">Inscription</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>copyright © 2026, Crèche Conviviale et Parfaite</p>
        </div>
        </footer>
        <script>
            const { createApp, ref, computed } = Vue

            function getCSRFToken() {
                return document.cookie
                .split("; ")
                .find(row => row.startsWith("csrftoken"))
                ?.split("=")[1]
            }

            createApp({
                delimiters: ['[[', ']]'],
                setup() {
                    const links = ref([
                        { name: "Accueil", url: "/", slug:"", auth: null},
                        { name: "Information", url: "/information/", slug:"information", auth: null },
                        { name: "Profil", url: "/profil/", slug:"profil", auth: true},
                        { name: "Objets", url: "/objets/", slug:"objets", auth: true },
                        { name: "Gestion", url: "/gestion/", slug:"gestion", auth: true, minRank: "Avancé"},
                        { name: "Connexion", url: "/connexion/", isLogin: true, slug:"connexion", auth: false },
                        { name: "Inscription", url: "/inscription/", isLogin: true, slug:"inscription", auth: false },
                        { name: "Déconnexion", action: "logout", isLogin: true,auth: true }
                    ])

                    const currentPage = window.location.pathname.replaceAll("/", "")

                    const logout = () => {
                        fetch("/logout/", {
                            method: "POST",
                            credentials: "include",
                            headers: {
                                "X-CSRFToken": getCSRFToken()
                            }
                        })
                        .then(() => {
                            isAuthenticated.value = false
                            window.location.href = "/"
                        })
                    }

                    const isAuthenticated = ref(false)
                    const rank = ref(null)

                    fetch("/api/auth/")
                    .then(res => res.json())
                    .then(data => {
                        isAuthenticated.value = data.isAuthenticated
                        rank.value = data.rank
                    })

                    const rankOrder = ["Débutant", "Intermédiaire", "Avancé", "Expert"]

                    const filteredLinks = computed(() => {
                        return links.value.filter(link => {
                            if (link.slug === currentPage) return false
                            if (link.auth === true && !isAuthenticated.value) return false
                            if (link.auth === false && isAuthenticated.value) return false

                            if (link.minRank) {
                                if (!rank.value) return false
                                return rankOrder.indexOf(rank.value) >= rankOrder.indexOf(link.minRank)
                            }

                            return true
                        })
                    })

                    /*
                    Partie sur les avis utilisateurs
                    */

                    const reviews = ref([
                        { id: 1, user: "Bébé avec des problèmes", text: "Gooooo Gaagaaaaaaaaaaaaa. CACAAAAAAAAAAAAAAA!", pfp:"/static/img/dumbBaby.jpeg"},
                        { id: 2, user: "Tuff", text: "Ahaaahaaahahahahahahaahahahah.", pfp:"/static/img/tuffBaby.jpeg"},
                        { id: 3, user: "Charlie K.", text: "WE ARE CHARLIE KIRKKKKKKKKKKKKKKKKKKKKKKKK", pfp:"/static/img/kirk.jpeg"},
                        { id: 4, user: "Da Baby", text: "Gaaga. Baabaaaaaaaaaa!", pfp:"/static/img/DaBaby.jpeg"},
                        { id: 5, user: "The Rizzler", text: "Mogged", pfp:"/static/img/theRizzler.jpeg"},
                        { id: 6, user: "Jeff E.", text: "J'adore, on ressent la fraicheur des produits à disposition, je recommande cette " +
                        "crêche à tout milliardiaires", pfp:"/static/img/BigE.jpeg"},
                        { id: 7, user: "P DD", text: "J'ai déménagé des Los Angeles juste pour cette crêche, qui est incroyable !!", pfp:"/static/img/pdd.jpeg"},
                        { id: 8, user: "Parent A", text: "Rien à dire, parfait.", pfp:"/static/img/anonymous.png"}
                    ])

                    const currentReviewPage = ref(0)

                    const reviewsPerPage = 3

                    const paginatedReviews = computed(() => {
                        const start = currentReviewPage.value * reviewsPerPage
                        return reviews.value.slice(start, start + reviewsPerPage)
                    })

                    const totalPages = computed(() =>
                        Math.ceil(reviews.value.length / reviewsPerPage)
                    )

                    return { filteredLinks, logout,totalPages, reviews, currentReviewPage, reviewsPerPage, paginatedReviews}
                }
            }).mount("#app")
        </script>
    </body>
</html>
