<!DOCTYPE html>

<html>
    {% load static %}
    <head>
        <title>CCP - Connexion</title>
        <meta charset="utf-8"/>
        <link rel="icon" href="/static//img/logoPanda.png"/>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>

    <body>
        <form style="display:none;">{% csrf_token %}</form>
        <div id="body">
            <h1 class="titre">La Crèche Conviviale Parfaite</h1>

            <header>            <!-- Bannière + liens -->
                <nav id="banner">
                    <a v-for="link in filteredLinks"
                        :href="link.url"
                        :key="link.name"
                        @click="link.action === 'logout' ? logout($event) : null"
                        :class="{ loginLink: link.isLogin }">
                        [[ link.name ]]
                    </a>
                    <a href="https://github.com/Triiiss/CrecheConvivialeParfaite" target="_blank">Git</a>
                    <a href="https://miro.com/welcomeonboard/V1hhcXp3VnczdG5lNTJJdGlwaHlpT0tVWit3TWFhZmhOVFE5Mmg1ZllQcHZSNUJvVThQWmh6WVFIZDVwWE5GY0I5YzRob296ZExlTGVib294UXFjR3RzNVJRaW52VlozZUZLc1JhNWpIakJhWldjNHd0R0FZUXRNd1FBNHNhU01nbHpza3F6REdEcmNpNEFOMmJXWXBBPT0hdjE=?share_link_id=631888282038" target="_blank">Le plan</a>
                    <a href="https://www.youtube.com/watch?v=ThJwLNaeckM" target="_blank">Équipe</a>
                    <a href="https://fr.china-embassy.gov.cn/fra/" target="_blank">Contact</a>
                </nav>
            </header>

            <h2>Connexion</h2>

            <form id="connexion" method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend>Connexion</legend>

                    <label for="username">Identifiant :</label>
                    <input type="text" name="username" required>

                    <br>

                    <label for="password">Mot de passe :</label>
                    <input type="password" name="password" required>

                    <br>
                    {% if error %}
                        <p style="color:red;">{{ error }}</p>
                    {% endif %}

                    <button type="submit" class="inscription" name="submit">Se connecter</button>

                    <p>Vous n'avez pas encore de compte ? <a href="/inscription/">Inscrivez-vous</a></p>

                </fieldset>
            </form>

            <footer class="main-footer" style="margin-top: 600px;">
                <div class="footer-container">
                    <div class="footer-column">
                        <h2>Crèche Conviviale et Parfaite</h2>
                        <p>Laissez vos enfant chez nous ^^.</p>
                        <img src="/static/img/logo.png" alt="Logo" class="footer-logo">
                    </div>

                    <div class="footer-column">
                        <h3>Ou nous trouver</h3>
                        <p>Av. du Parc, 95000 Cergy</p>
                        <p>2 Av. Adolphe Chauvin, 95300 Pontoise</p>
                        <p>01 23 45 67 89</p>
                        <p><a href="mailto:exemple@mail.com" class="footer-email">ccp@mail.com</a></p>
                    </div>

                    <div class="footer-column">
                        <h3>Navigation</h3>
                        <ul class="footer-links">
                            <li><a href="/">Accueil</a></li>
                            <li><a href="/information/">Information</a></li>
                            <li><a href="/connexion/">Connexion</a></li>
                            <li><a href="/inscription/">Inscription</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer-bottom">
                    <p>copyright © 2026, Crèche Conviviale et Parfaite</p>
                </div>
            </footer>
        </div>

        <script>
            const { createApp, ref, computed } = Vue

            function getCSRFToken() {
                return document.cookie
                .split("; ")
                .find(row => row.startsWith("csrftoken"))
                ?.split("=")[1]
            }

            createApp({
                delimiters: ['[[', ']]'],
                setup() {
                    const links = ref([
                        { name: "Accueil", url: "/", slug:"", auth: null},
                        { name: "Information", url: "/information/", slug:"information", auth: null },
                        { name: "Profil", url: "/profil/", slug:"profil", auth: true},
                        { name: "Objets", url: "/objets/", slug:"objets", auth: true },
                        { name: "Gestion", url: "/gestion/", slug:"gestion", auth: true, minRank: "Avancé"},
                        { name: "Connexion", url: "/connexion/", isLogin: true, slug:"connexion", auth: false },
                        { name: "Inscription", url: "/inscription/", isLogin: true, slug:"inscription", auth: false },
                        { name: "Statistiques", url: "/statistiques/", slug:"statistiques", auth: true, minRank: "Avancé" },
                        { name: "Déconnexion", action: "logout", isLogin: true,auth: true }
                    ])

                    const currentPage = window.location.pathname.replaceAll("/", "")

                    const logout = () => {
                        fetch("/logout/", {
                            method: "POST",
                            credentials: "include",
                            headers: {
                                "X-CSRFToken": getCSRFToken()
                            }
                        })
                        .then(() => {
                            isAuthenticated.value = false
                            window.location.href = "/"
                        })
                    }

                    const isAuthenticated = ref(false)
                    const rank = ref(null)

                    fetch("/api/auth/")
                    .then(res => res.json())
                    .then(data => {
                        isAuthenticated.value = data.isAuthenticated
                        rank.value = data.rank
                    })

                    const rankOrder = ["Débutant", "Intermédiaire", "Avancé", "Expert"]

                    const filteredLinks = computed(() => {
                        return links.value.filter(link => {
                            if (link.slug === currentPage) return false
                            if (link.auth === true && !isAuthenticated.value) return false
                            if (link.auth === false && isAuthenticated.value) return false

                            if (link.minRank) {
                                if (!rank.value) return false
                                return rankOrder.indexOf(rank.value) >= rankOrder.indexOf(link.minRank)
                            }

                            return true
                        })
                    })

                    return { filteredLinks, logout }
                }
            }).mount("#banner")
        </script>
    </body>
</html>
