<!DOCTYPE html>

<html>
    <head>
        <title>CCP - Inscription</title>
        <meta charset="utf-8"/>
        <link rel="icon" href="/static//img/logoPanda.png"/>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>

    <body>
        <form style="display:none;">{% csrf_token %}</form>

        <div id="body">
            <h1 class="titre">La Crèche Conviviale Parfaite</h1>

            <header>            <!-- Bannière + liens -->
                <nav id="banner">
                    <a v-for="link in filteredLinks"
                        :href="link.url"
                        :key="link.name"
                        @click="link.action === 'logout' ? logout($event) : null"
                        :class="{ loginLink: link.isLogin }">
                        [[ link.name ]]
                    </a>
                    <a href="https://github.com/Triiiss/CrecheConvivialeParfaite" target="_blank">Git</a>
                    <a href="https://miro.com/welcomeonboard/V1hhcXp3VnczdG5lNTJJdGlwaHlpT0tVWit3TWFhZmhOVFE5Mmg1ZllQcHZSNUJvVThQWmh6WVFIZDVwWE5GY0I5YzRob296ZExlTGVib294UXFjR3RzNVJRaW52VlozZUZLc1JhNWpIakJhWldjNHd0R0FZUXRNd1FBNHNhU01nbHpza3F6REdEcmNpNEFOMmJXWXBBPT0hdjE=?share_link_id=631888282038" target="_blank">Le plan</a>
                </nav>
            </header>

            <h2>Inscription</h2>

            <form id="inscription" method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend>Formulaire d'inscription</legend>

                    <label for="gender" >Genre :</label><br>
                    <input type="radio" name="gender" value="mr"/><label for="mr">Monsieur</label></br>
                    <input type="radio" name="gender" value="mme"/><label for="mme">Madame</label></br>
                    <input type="radio" name="gender" value="x"/><label for="x">Autre</label></br><br>

                    <label for="first_name">Prénom : <span class="required">*</span></label>
                    <input type="text" name="first_name" minlength="2" placeholder="Emilie" required></br>

                    <label for="last_name" >Nom : <span class="required">*</span></label>
                    <input type="text" name="last_name" minlength="2" placeholder="Dupont" required></br>

                    <label for="email" >Email : <span class="required">*</span></label>
                    <input type="email" name="email" placeholder="email@gmail.com" required></br>

                    <label for="birth_date">Date de naissance :</label>
                    <input type="date" name="birth_date"/></br>

                    <label for="type">Quel type de membre ? <span class="required">*</span> </label>
                    <select name="type">
                        <option value="outsider">Exterieur</option>
                        <option value="enfant">Enfant</option>
                        <option value="parent">Parent</option>
                        <option value="encadrant">Encadrant</option>
                        <option value="directeur">Directeur</option>
                    </select></br></br>


                    <label for="username" >Identifiant : <span class="required">*</span></label>
                    <input type="text" name="username" placeholder="Pseudo" required></br>

                    <label for="password1" >Mot de passe : <span class="required">*</span></label>
                    <input type="password" name="password1" placeholder="********" required></br>


                    <label for="password2" >Confirmation mot de passe : <span class="required">*</span></label>
                    <input type="password" name="password2" placeholder="********" required></br>
                    {% if error %}
                        <p style="color:red;">{{ error }}</p>
                    {% endif %}

                    <button type="submit" class="inscription" name="submit">S'inscrire</button>
                    <p>Déjà inscrit ? <a href="/connexion/">Connectez vous</a></p>
                </fieldset>
            </form>

            <footer class="main-footer" style="margin-top: 600px;">
                <div class="footer-container">
                    <div class="footer-column">
                        <h2>Crèche Conviviale et Parfaite</h2>
                        <p>Laissez vos enfant chez nous ^^.</p>
                        <img src="/static/img/logo.png" alt="Logo" class="footer-logo">
                    </div>

                    <div class="footer-column">
                        <h3>Ou nous trouver</h3>
                        <p>Av. du Parc, 95000 Cergy</p>
                        <p>2 Av. Adolphe Chauvin, 95300 Pontoise</p>
                        <p>01 23 45 67 89</p>
                        <p><a href="mailto:exemple@mail.com" class="footer-email">ccp@mail.com</a></p>
                    </div>

                    <div class="footer-column">
                        <h3>Navigation</h3>
                        <ul class="footer-links">
                            <li><a href="/">Accueil</a></li>
                            <li><a href="/connexion/">Connexion</a></li>
                            <li><a href="/inscription/">Inscription</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer-bottom">
                    <p>copyright © 2026, Crèche Conviviale et Parfaite</p>
                </div>
            </footer>
        </div>

        <script>
            const { createApp, ref, computed } = Vue

            function getCSRFToken() {
                return document.cookie
                .split("; ")
                .find(row => row.startsWith("csrftoken"))
                ?.split("=")[1]
            }

            createApp({
                delimiters: ['[[', ']]'],
                setup() {
                    const links = ref([
                        { name: "Accueil", url: "/", slug:"", auth: null},
                        { name: "Profil", url: "/profil/", slug:"profil", auth: true},
                        { name: "Objets", url: "/objets/", slug:"objets", auth: true },
                        { name: "Gestion", url: "/gestion/", slug:"gestion", auth: true, minRank: "Avancé"},
                        { name: "Statistiques", url: "/statistiques/", slug:"statistiques", auth: true, minRank: "Avancé" },
                        { name: "Connexion", url: "/connexion/", isLogin: true, slug:"connexion", auth: false },
                        { name: "Inscription", url: "/inscription/", isLogin: true, slug:"inscription", auth: false },
                        { name: "Déconnexion", action: "logout", isLogin: true,auth: true }
                    ])

                    const currentPage = window.location.pathname.replaceAll("/", "")

                    const logout = () => {
                        fetch("/logout/", {
                            method: "POST",
                            credentials: "include",
                            headers: {
                                "X-CSRFToken": getCSRFToken()
                            }
                        })
                        .then(() => {
                            isAuthenticated.value = false
                            window.location.href = "/"
                        })
                    }

                    const isAuthenticated = ref(false)
                    const rank = ref(null)

                    fetch("/api/auth/")
                    .then(res => res.json())
                    .then(data => {
                        isAuthenticated.value = data.isAuthenticated
                        rank.value = data.rank
                    })

                    const rankOrder = ["Débutant", "Intermédiaire", "Avancé", "Expert"]

                    const filteredLinks = computed(() => {
                        return links.value.filter(link => {
                            if (link.slug === currentPage) return false
                            if (link.auth === true && !isAuthenticated.value) return false
                            if (link.auth === false && isAuthenticated.value) return false

                            if (link.minRank) {
                                if (!rank.value) return false
                                return rankOrder.indexOf(rank.value) >= rankOrder.indexOf(link.minRank)
                            }

                            return true
                        })
                    })

                    return { filteredLinks, logout }
                }
            }).mount("#banner")
        </script>
    </body>
</html>
