<!DOCTYPE html>

<html>
<head>
  <title>CCP - Profil</title>
  <meta charset="utf-8"/>
  <link rel="icon" href="/static/img/logoPanda.png"/>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>

<body>
<form style="display:none;">{% csrf_token %}</form>

<div id="body">
  <h1>La Crèche Conviviale et Parfaite</h1>

  <header>            <!-- Bannière -->
    <nav id="banner">
      <a v-for="link in filteredLinks"
         :href="link.url"
         :key="link.name"
         @click="link.action === 'logout' ? logout($event) : null"
         :class="{ loginLink: link.isLogin }">
        [[ link.name ]]
      </a>
      <a href="https://github.com/Triiiss/CrecheConvivialeParfaite" target="_blank">Git</a>
      <a href="https://miro.com/welcomeonboard/V1hhcXp3VnczdG5lNTJJdGlwaHlpT0tVWit3TWFhZmhOVFE5Mmg1ZllQcHZSNUJvVThQWmh6WVFIZDVwWE5GY0I5YzRob296ZExlTGVib294UXFjR3RzNVJRaW52VlozZUZLc1JhNWpIakJhWldjNHd0R0FZUXRNd1FBNHNhU01nbHpza3F6REdEcmNpNEFOMmJXWXBBPT0hdjE=?share_link_id=631888282038" target="_blank">Le plan</a>
      <a href="https://www.youtube.com/watch?v=ThJwLNaeckM" target="_blank">Équipe</a>
      <a href="https://fr.china-embassy.gov.cn/fra/" target="_blank">Contact</a>
    </nav>
  </header>

  <div id="profil">
    <div class="layout">

      <!-- menu -->
      <div class="menu">
        <button @click="activeTab = 'profile'">Profil</button>
        <button @click="activeTab = 'exp'">Niveau</button>
        <button @click="activeTab = 'settings'">Settings</button>
        <button @click="activeTab = 'social'">Social</button>
      </div>

      <!-- affichage -->
      <div class="affichage">

        <div v-if="activeTab === 'profile' && user">
          <h2>Informations Personnelles</h2>

          <div class="affichagePFP">
            <img class="pfp" src="/static/img/anonymous.png" alt="photo de profil" />
          </div>

          <!-- Infos de l'utilisateur -->

          <h3>PSEUDO</h3>
          <p>[[ user.username ]]</p>

          <h3>NOM</h3>
          <p>[[ user.last_name ]]</p>

          <h3>PRENOM</h3>
          <p>[[ user.first_name ]]</p>

          <h3>DATE DE NAISSANCE</h3>
          <p>[[ user.birthdate ]]</p>

          <h3>CIVILITE</h3>
          <p>[[ user.gender ]]</p>

          <h3>TYPE</h3>
          <p>[[ user.type ]]</p>

          <h3>EMAIL</h3>
          <p> [[user.mail]]</p>

        </div>

        <!-- Page Niveau -->
        <div v-if="activeTab === 'exp'">
          <div class="affichageLVL">
            <h1>Niveau [[ userRank ]]</h1>
            <p>[[ user.points ]] points</p>
          </div>
        </div>

        <!-- Page Paramètres -->
        <div v-if="activeTab === 'settings'">
          <form method="POST" action="/profil/edit/">
            {% csrf_token %}

            <div class="affichageSettings">

              <h3>Modifier mes informations</h3>

              <input type="text" name="last_name" placeholder="Nouveau Nom">
              <input type="text" name="first_name" placeholder="Nouveau Prénom">

              <div class="civilite">
                <h4>Civilité</h4>

                <label class="radio">
                  <input type="radio" name="gender" value="mr">
                  <span class="circle"></span>
                  <span>M.</span>
                </label>

                <label class="radio">
                  <input type="radio" name="gender" value="mme">
                  <span class="circle"></span>
                  <span>Mme</span>
                </label>

                <label class="radio">
                  <input type="radio" name="gender" value="x">
                  <span class="circle"></span>
                  <span>Autre</span>
                </label>
              </div>

              <input type="email" name="email" placeholder="Nouvelle adresse mail">
              <input type="date" name="birth_date">

              <div class="confirm_password_profile">
                <h4>Confirmer le changement en entrant votre mot de passe</h4>
                <input type="password" name="confirm" placeholder="Entrez votre mot de passe">
                {% if error %}
                <p>{{ error }}</p>
                {% endif %}
              </div>


              <button type="submit">Enregistrer</button>

            </div>
          </form>

          <!-- CHANGE PASSWORD -->
          <div class="affichageSettings">
            <h3>Changer le mot de passe</h3>

            <form method="POST" action="/profil/change-password/">
              {% csrf_token %}

              <input type="password" name="new_password" placeholder="Nouveau mot de passe">
              <input type="password" name="confirm_password" placeholder="Confirmer nouveau mot de passe">
              <div class="confirm_password_profile">
                <h4>Confirmer le changement en entrant votre mot de passe</h4>
                <input type="password" name="old_password" placeholder="Ancien mot de passe">
                {% if ps_error %}
                <p>{{ ps_error }}</p>
                {% endif %}
              </div>


              {% if password_error %}
              <p class="error-msg">{{ password_error }}</p>
              {% endif %}

              {% if password_message %}
              <p class="success-msg">{{ password_message }}</p>
              {% endif %}

              <button type="submit">Modifier mot de passe</button>
            </form>
          </div>

        </div>

        <!-- SOCIAL -->

        <div v-if="activeTab === 'social'">
            <h2>Autres utilisateurs</h2>
            <div class="affichageSocial">
              <div v-for="u in filteredSocialUsers" :key="u.id" class="user-card">

                <div class="card-left">
                  <img :src="u.pfp || '/static/img/anonymous.png'" class="social-pfp" />
                  <div class="user-main-info">
                    <span class="pseudo">[[ u.username ]]</span>
                    <span class="user-type">[[ u.role ]]</span>
                  </div>
                </div>

                <div class="card-right">
                  <p><strong>Nom :</strong> [[ u.last_name ]]</p>
                  <p><strong>Prénom :</strong> [[ u.first_name ]]</p>

                  <button @click="revealInfo(u)" class="btn-more">
                    [[ u.showMore ? 'Cacher' : 'Voir plus' ]]
                  </button>

                  <div v-if="u.showMore" class="extra-info">
                    <p><strong>Genre :</strong> [[ u.gender ]]</p>
                    <p><strong>Né(e) le :</strong> [[ u.birthdate ]]</p>
                  </div>

                </div>
              </div>
            </div>
        </div>
      </div>
</div>
<footer class="main-footer">
  <div class="footer-container">
    <div class="footer-column">
      <h2>Crèche Conviviale et Parfaite</h2>
      <p>Laissez vos enfant chez nous ^^.</p>
      <img src="/static/img/logo.png" alt="Logo" class="footer-logo">
    </div>

    <div class="footer-column">
      <h3>Ou nous trouver</h3>
      <p>Av. du Parc, 95000 Cergy</p>
      <p>2 Av. Adolphe Chauvin, 95300 Pontoise</p>
      <p>01 23 45 67 89</p>
      <p><a href="mailto:exemple@mail.com" class="footer-email">ccp@mail.com</a></p>
    </div>

    <div class="footer-column">
      <h3>Navigation</h3>
      <ul class="footer-links">
        <li><a href="/">Accueil</a></li>
        <li><a href="/information/">Information</a></li>
        <li><a href="/connexion/">Connexion</a></li>
        <li><a href="/inscription/">Inscription</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>copyright © 2026, Crèche Conviviale et Parfaite</p>
  </div>
</footer>
<script>
  const { createApp, ref, computed } = Vue

  function getCSRFToken() {
    return document.cookie
      .split("; ")
      .find(row => row.startsWith("csrftoken"))
      ?.split("=")[1]
  }

  createApp({
    delimiters: ['[[', ']]'],
    setup() {
      const links = ref([
        { name: "Accueil", url: "/", slug:"", auth: null},
        { name: "Information", url: "/information/", slug:"information", auth: null },
        { name: "Profil", url: "/profil/", slug:"profil", auth: true},
        { name: "Objets", url: "/objets/", slug:"objets", auth: true },
        { name: "Gestion", url: "/gestion/", slug:"gestion", auth: true, minRank: "Avancé"},
        { name: "Connexion", url: "/connexion/", isLogin: true, slug:"connexion", auth: false },
        { name: "Inscription", url: "/inscription/", isLogin: true, slug:"inscription", auth: false },
        { name: "Déconnexion", action: "logout", isLogin: true,auth: true }
      ])

      const currentPage = window.location.pathname.replaceAll("/", "")

      const logout = () => {
        fetch("/logout/", {
          method: "POST",
          credentials: "include",
          headers: {
            "X-CSRFToken": getCSRFToken()
          }
        })
          .then(() => {
            isAuthenticated.value = false
            window.location.href = "/"
          })
      }

      const isAuthenticated = ref(false)
      const rank = ref(null)

      fetch("/api/auth/")
        .then(res => res.json())
        .then(data => {
          isAuthenticated.value = data.isAuthenticated
          rank.value = data.rank
        })

        const rankOrder = ["Débutant", "Intermédiaire", "Avancé", "Expert"]

        const filteredLinks = computed(() => {
            return links.value.filter(link => {
                if (link.slug === currentPage) return false
                if (link.auth === true && !isAuthenticated.value) return false
                if (link.auth === false && isAuthenticated.value) return false

                if (link.minRank) {
                    if (!rank.value) return false
                    return rankOrder.indexOf(rank.value) >= rankOrder.indexOf(link.minRank)
                }

                return true
            })
        })

      return { filteredLinks, logout }
    }
  }).mount("#banner")

  createApp({
  delimiters: ['[[', ']]'],
  setup() {
    const activeTab = ref("{{ active_tab|default:'profile' }}");
    const user = ref(null);
    const allUsers = ref([]);


    const revealInfo = (u) => {

      u.showMore = !u.showMore;


      if (u.showMore) {
        fetch("/api/consult_profile/", {
          method: "POST",
          headers: {
            "X-CSRFToken": getCSRFToken()
          }
        })
        .then(res => res.json())
        .then(data => {
          console.log("Points ajoutés !");
          user.value.points += 10;
        });
      }
    };

    const userRank = computed(() => {
      if (!user.value) return "Débutant";
      const pts = user.value.points;
      if (pts >= 1000) return "Expert";
      if (pts >= 500) return "Avancé";
      if (pts >= 100) return "Intermédiaire";
      return "Débutant";
    });



    // Récuperation du profil connecter
    fetch("/api/user/", { credentials: "include" })
      .then(res => res.json())
      .then(data => {
        user.value = data;
      });

    // Récupération de tous les profils
    fetch("/api/all_users/")
      .then(res => res.json())
      .then(data => {
      allUsers.value = data.map(u => ({ ...u, showMore: false }));
      });


    const filteredSocialUsers = computed(() => {

      if (!user.value || !allUsers.value) return []; // si pas de valeur chargé -> liste vide


      return allUsers.value.filter(u => u.username !== user.value.username);
    });


    return { activeTab, user, allUsers, filteredSocialUsers, revealInfo, userRank };
  }



}).mount("#profil");
</script>
</body>
</html>
