<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>CCP - Recherche</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
        <link rel="icon" href="/static//img/logoPanda.png"/>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body> 
        <form style="display:none;">
            {% csrf_token %}
        </form>
        <div id="body">
            <h1>La Crèche Conviviale et Parfaite</h1>
            
            <header>
            <!-- Bannière -->
                <nav id="banner">
                    <a v-for="link in filteredLinks" 
                        :href="link.url" 
                        :key="link.name"
                        @click="link.action === 'logout' ? logout($event) : null"
                        :class="{ loginLink: link.isLogin }">
                        [[ link.name ]]
                    </a>
                    <a href="https://github.com/Triiiss/CrecheConvivialeParfaite" target="_blank">Git</a>
                    <a href="https://miro.com/welcomeonboard/V1hhcXp3VnczdG5lNTJJdGlwaHlpT0tVWit3TWFhZmhOVFE5Mmg1ZllQcHZSNUJvVThQWmh6WVFIZDVwWE5GY0I5YzRob296ZExlTGVib294UXFjR3RzNVJRaW52VlozZUZLc1JhNWpIakJhWldjNHd0R0FZUXRNd1FBNHNhU01nbHpza3F6REdEcmNpNEFOMmJXWXBBPT0hdjE=?share_link_id=631888282038" target="_blank">Le plan</a>
                    <a href="https://www.youtube.com/watch?v=ThJwLNaeckM" target="_blank">Équipe</a>
                    <a href="https://fr.china-embassy.gov.cn/fra/" target="_blank">Contact</a>
                </nav>
            </header>

            <div id="search">
                <h2>Rechercher des informations</h2>

                <!-- Recherche -->
                <input v-model="searchText" placeholder="Rechercher un élément..." />

                <select v-model="place">
                    <option value="">Tous les lieux</option>
                    <option value="aile-ouest">Aile Ouest</option>
                    <option value="aile-est">Aile Est</option>
                    <option value="salle-principale">Salle principale</option>
                    <option value="exterieur">Exterieur</option>
                </select>

                <select v-model="target">
                    <option value="">Tout public</option>
                    <option value="parent">Parent</option>
                    <option value="enfant-0-5">Enfant < 5 ans</option>
                    <option value="enfant-5-10">Enfant 5–10 ans</option>
                    <option value="encadrant">Encadrant</option>
                </select>

                <select v-model="category">
                    <option value="">Toutes les catégories</option>
                    <option value="transport">Transport</option>
                    <option value="divertissement">Divertissement</option>
                    <option value="nourriture">Nourriture</option>
                    <option value="activite">Activité</option>
                    <option value="cours">Cours</option>
                </select>

                <select v-model="dateFilter">
                    <option value="">Toutes les dates</option>
                    <option value="before">Avant</option>
                    <option value="after">Après</option>
                    <option value="on">Le jour même</option>
                </select>

                <input type="date" v-model="selectedDate" />

                <div class="grid">
                    <div class="card" v-for="item in filteredItems" :key="item.name">
                        <strong>Nom : [[ item.name ]]</strong><br>
                        Endroit : [[ item.place ]]<br>
                        Public : [[ item.target ]]<br>
                        Catégorie : [[ item.category ]]<br>
                        Date : [[ item.date ]]
                    </div>
                </div>
            </div>
            
            <div id="footer" >
                <span>Nous contacter :</span>
                <p>Email : contact@cpp.com<br/>Téléphone : 01 23 45 67 89</p>
                <br/>
            </div>
        </div>

        <script>
            const { createApp, ref, computed } = Vue

            function getCSRFToken() {
                return document.cookie
                    .split("; ")
                    .find(row => row.startsWith("csrftoken"))
                    ?.split("=")[1]
            }

            createApp({
            delimiters: ['[[', ']]'],
            setup() {

                // ===== FILTRES =====
                const searchText = ref("")
                const place = ref("")
                const target = ref("")
                const category = ref("")
                const dateFilter = ref("")
                const selectedDate = ref("")

                // ===== DONNÉES =====
                const items = ref([
                    {
                        name: "Parc sécurisé à proximité",
                        place: "aile-ouest",
                        target: "parent",
                        category: "activite",
                        date: "tout-le-temps"
                    },
                    {
                        name: "Pharmacie enfant à 200m",
                        place: "exterieur",
                        target: "parent",
                        category: "transport",
                        date: "tout-le-temps"
                    },
                    {
                        name: "Atelier peinture sensorielle",
                        place: "salle-principale",
                        target: "enfant-0-5",
                        category: "activite",
                        date: "2026-05-10"
                    },
                    {
                        name: "Jeux d’éveil musical",
                        place: "salle-principale",
                        target: "enfant-0-5",
                        category: "divertissement",
                        date: "2026-05-12"
                    },
                    {
                        name: "Construction LEGO géant",
                        place: "aile-est",
                        target: "enfant-5-10",
                        category: "divertissement",
                        date: "2026-05-15"
                    },
                    {
                        name: "Lecture interactive contes",
                        place: "salle-principale",
                        target: "enfant-5-10",
                        category: "cours",
                        date: "2026-05-18"
                    },
                    {
                        name: "Goûter bio équilibré",
                        place: "salle-principale",
                        target: "enfant-0-5",
                        category: "nourriture",
                        date: "tout-le-temps"
                    },
                    {
                        name: "Découverte fruits exotiques",
                        place: "aile-ouest",
                        target: "enfant-5-10",
                        category: "nourriture",
                        date: "2026-05-20"
                    },
                    {
                        name: "Bus scolaire sécurisé crèche",
                        place: "exterieur",
                        target: "parent",
                        category: "transport",
                        date: "tout-le-temps"
                    },
                    {
                        name: "Zone dépose-minute parents",
                        place: "exterieur",
                        target: "parent",
                        category: "transport",
                        date: "tout-le-temps"
                    },

                    {
                        name: "Initiation musique et rythme",
                        place: "salle-principale",
                        target: "enfant-5-10",
                        category: "cours",
                        date: "2026-05-22"
                    },
                    {
                        name: "Apprentissage des émotions",
                        place: "aile-ouest",
                        target: "enfant-0-5",
                        category: "cours",
                        date: "2026-05-25"
                    },
                    {
                        name: "Fête de la crèche",
                        place: "salle-principale",
                        target: "parent",
                        category: "divertissement",
                        date: "2026-06-01"
                    },
                    {
                        name: "Spectacle marionnettes",
                        place: "salle-principale",
                        target: "enfant-0-5",
                        category: "divertissement",
                        date: "2026-05-30"
                    },
                    {
                        name: "Journée portes ouvertes",
                        place: "aile-est",
                        target: "parent",
                        category: "divertissement",
                        date: "2026-06-05"
                    }
                ])

                // ===== FILTRE =====
                const filteredItems = computed(() => {
                    return items.value.filter(item => {

                        const matchName =
                        item.name.toLowerCase().includes(searchText.value.toLowerCase())

                        const matchPlace =
                        place.value === "" || item.place === place.value

                        const matchTarget =
                        target.value === "" || item.target === target.value

                        const matchCategory =
                        category.value === "" || item.category === category.value

                        let matchDate = true

                        if (dateFilter.value === "before") {
                        matchDate = item.date <= selectedDate.value
                        } else if (dateFilter.value === "after") {
                        matchDate = item.date >= selectedDate.value
                        } else if (dateFilter.value === "on") {
                        matchDate = item.date === selectedDate.value
                        }

                        return matchName && matchPlace && matchTarget && matchCategory && matchDate
                    }).slice(0, 8)
                })

                return {
                searchText,
                place,
                target,
                category,
                dateFilter,
                selectedDate,
                filteredItems
                }
            }
            }).mount("#search")
    

            createApp({
                delimiters: ['[[', ']]'],
                setup() {
                    const links = ref([
                        { name: "Accueil", url: "/", slug:"", auth: null},
                        { name: "Recherche", url: "/recherche/", slug:"recherche", auth: null },
                        { name: "Profil", url: "/profil/", slug:"profil", auth: true},
                        { name: "Connexion", url: "/connexion/", isLogin: true, slug:"connexion", auth: false },
                        { name: "Inscription", url: "/inscription/", isLogin: true, slug:"inscription", auth: false },
                        { name: "Déconnexion", action: "logout", isLogin: true,auth: true }
                    ])

                    const currentPage = window.location.pathname.replaceAll("/", "")

                    const logout = () => {
                        fetch("/logout/", {
                            method: "POST",
                            credentials: "include",
                            headers: {
                                "X-CSRFToken": getCSRFToken()
                            }
                        })
                        .then(() => {
                            isAuthenticated.value = false
                            window.location.href = "/"
                        })
                    }

                    const isAuthenticated = ref(false)

                    fetch("/api/auth/")
                        .then(res => res.json())
                        .then(data => {
                            isAuthenticated.value = data.isAuthenticated
                        })
                        
                    
                    const filteredLinks = computed(() => {
                        return links.value.filter(link => {
                            if (link.slug === currentPage) return false
                            if (link.auth === true && !isAuthenticated.value) return false
                            if (link.auth === false && isAuthenticated.value) return false

                            return true
                        })
                    })
                    return { filteredLinks, logout }
                }
            }).mount("#banner")
        </script>
    </body>
</html>